body {
  font-family: Arial, sans-serif;
  padding: 10px;
}

#toggleButton {
  padding: 10px;
  background-color: gray;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

#toggleButton:hover {
  opacity: 0.8;
}
